body {
    background-color: #490d0dc7;
    color: #241904;
    font-family: PingFang TC;
    font-weight: lighter;
    width: 800px;
    margin: 60px auto;
}
h1 {
  color: #19476e;
  font-family: skia;
    background: lightslategrey;
    padding: 50px;
    margin: 60px;
    box-shadow: 0px 10px 30px;
    border-radius: 5px;
    text-align: center;
}

h2 {
  background: lightslategrey;
    padding: 50px;
    margin: 60px;
    box-shadow: 0px 10px 30px;
    border-radius: 5px;
    text-align: center;
}
a {
  text-decoration:none;
  color: #19476e;
}
a:hover{
  color:darkred;
}

h3 {
  background: lightslategrey;
    padding: 50px;
    margin: 60px;
    box-shadow: 0px 10px 30px;
    border-radius: 5px;
    width: 700px;
    margin: 60px auto;
    text-align: center;
}

/*Custom design with class*/


@media(max-width: 760px) {
  
  .container{
    width: 600px;
  }
}

@media(max-width: 500px) {
  
  .container{
    width: 400px;
  }
}

.img-circle {
  border-radius:50%; 
}
.btn-blue {
   background-color:#19476e; 
   color: grey;
   padding: 10px 20px;
   border-radius: 5px;
}
.btn-blue:hover {
  background-color: black; 
  color: white;
}

.list-inline{
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
}






